<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500968075668-nvdi13c764i3q3h0kmm49f913nuevmmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500968075668-nvdi13c764i3q3h0kmm49f913nuevmmj</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-nT2IbVTUNoYqMg00yRtruXZZ0xXCnE</string>
	<key>GCM_SENDER_ID</key>
	<string>500968075668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techilab.khalo</string>
	<key>PROJECT_ID</key>
	<string>khalo-6a78c</string>
	<key>STORAGE_BUCKET</key>
	<string>khalo-6a78c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500968075668:ios:6fffcd1ae7ef7a24d21f81</string>
</dict>
</plist>